html {
    background-color: #00539f;
}

body {
    color: #fffff1;
    font-family: "Open Sans", sans-serif;
    padding: 20px;
    text-align: center;
}

div.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 10px;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

a, button {
    background-color: #ffff00;
    border: none;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
}

#button-masuk {
    background-color: #ffffff;
}
